<footer class="pt-4 my-md-5 pt-md-5 fixed-bottom ">

  <p class="text-center">
      <a class="btn btn-link" href="https://github.com/IlyaBoyur">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"  alt="GitHub Logo" height="32">
      </a>
      
      <a class="btn btn-link" href="https://www.linkedin.com/in/ilya-boyur-link/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/LinkedIn_Logo_2013.svg/1200px-LinkedIn_Logo_2013.svg.png" alt="LinkedIn Logo" height="32">
      </a>

      <a class="btn btn-link" href="https://vk.com/ibojur">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" alt="VK logo" height="32"/>
      </a>
  </p>

</footer>
