<div class="input-group">

  <input name="first" class="form-control" type="text"
  data-toggle="tooltip" data-placement="top"
  title="Коэффициент перед второй степенью" data-delay='{"show":"1000"}'>

  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">x&#xb2; +</span>
  </div>

  <input name="second" class="form-control" type="text" 
  data-toggle="tooltip" data-placement="top"
  title="Коэффициент перед первой степенью" data-delay='{"show":"1000"}'>

  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">x +</span>
  </div>

  <input name="free" class="form-control" type="text" 
  data-toggle="tooltip" data-placement="top"
  title="Свободный член" data-delay='{"show":"1000"}'>

  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">= 0</span>
  </div>

</div><!-- input-group -->